@using Sandbox;
@using Sandbox.UI;
@using Vidya;
@inherits Panel

<root>
	@{
		var gs = GameSystem.Instance;
	}

	@if ( !gs.IsValid() )
		return;

	<div>@Text</div>
</root>

@code
{
	public string Text { get; set; } = "Loading...";
}
