Menu
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 20px;
    pointer-events: all;

	.title
	{
		position: absolute;
        top: 32px;
        left: 32px;
        font-family: Poppins;
        color: white;
        font-size: 64px;
	}

    .buttons
    {
        position: absolute;
        bottom: 32px;
        left: 32px;
        width: 25%;
        height: 50%;
        gap: 12px;
        flex-direction: column;
        justify-content: flex-end;

        .button
        {
            font-family: Poppins;
            font-size: 32px;

            justify-content: center;
            align-items: center;

            border-width: 4;
            background-color: hsl(0, 0%, 8%);
            border-color: hsl(0, 0%, 11%);
            color: white;
            height: 85px;
            cursor: pointer;

            &:hover
            {
                background-color: hsl(0, 0%, 11%);
                sound-in: ui.button.over;
            }

            &:active
            {
                background-color: hsl(0, 0%, 14%);
                sound-in: ui.button.press;
            }
        }
    }

    .servers
    {
        position: absolute;
        right: 32px;
        height: 95%;
        width: 30%;
        background-color: hsl(0, 0%, 8%);
        color: white;
        font-family: Poppins;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 32px;
        border-color: hsl(0, 0%, 15%);
        border-width: 4;

        .server-options
        {
            width: 100%;
            gap: 12px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .server
        {
            font-size: 32px;
            border-width: 4;
            border-color: hsl(0, 0%, 11%);
            padding: 8px;
            cursor: pointer;
            width: 100%;
            align-items: center;
            justify-content: center;
            
            min-height: 100px;


            .server-name
            {
                flex-grow: 1;
            }

            .server-players
            {
                font-size: 24px;
            }

            &:hover
            {
                background-color: hsl(0, 0%, 11%);
                sound-in: ui.button.over;
            }

            &:active
            {
                background-color: hsl(0, 0%, 14%);
                sound-in: ui.button.press;
            }
        }

        .server-list
        {
            height: 85%;
            width: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            flex-direction: column;
        }
    }

    .leaderboard
    {
        position: absolute;
        right: 32px;
        height: 95%;
        width: 30%;
        background-color: hsl(0, 0%, 8%);
        color: white;
        font-family: Poppins;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 12px;
        border-color: hsl(0, 0%, 15%);
        border-width: 4;

        >.header
        {
            width: 100%;
            height: 100px;
            font-size: 42px;

            align-items: center;
            justify-content: center;
        }

        .leaderboard-holder
        {
            width: 100%;
            height: 100%;
            gap: 16px;
            align-items: center;
            justify-content: flex-start;
            border-color: hsl(0, 0%, 11%);
            border-width: 4;
            flex-direction: column;
            padding: 12px;
            overflow-y: scroll;
            overflow-x: hidden;

            .info
            {
                width: 100%;
                height: 100px;
                font-size: 42px;
                align-items: center;
                justify-content: center;
            }

            .entry
            {
                width: 100%;
                height: 100px;
                font-size: 42px;
                flex-shrink: 0;
                background-color: hsl(0, 0%, 8%);
                border-color: hsl(0, 0%, 11%);
                border-width: 4;
                align-items: center;
                justify-content: center;
                gap: 16px;
                padding: 12px;

                &.me
                {
                    background-color: hsl(0, 0%, 19%);
                }

                .name
                {
                    flex-grow: 1;
                    height: 100%;
                    font-size: 32px;
                    align-items: center;
                    justify-content: flex-start;
                    text-overflow: clip;
                }

                &:hover
                {
                    background-color: hsl(0, 0%, 20%);
                    sound-in: ui.button.over;
                    cursor: pointer;
                }

                &:active
                {
                    background-color: hsl(0, 0%, 15%);
                    sound-in: ui.button.press;
                    cursor: pointer;
                }
            }
        }

        .sort
        {
            width: 100%;
            height: 250px;
            font-size: 42px;
            align-items: center;
            justify-content: center;
            gap: 16px;
            margin: 12px;
            margin-bottom: 0;
            flex-direction: column;

            .button
            {
                width: 100%;
                font-size: 42px;
                height: 100px;
                border-width: 4;
                background-color: hsl(0, 0%, 8%);
                border-color: hsl(0, 0%, 11%);
                color: white;
                cursor: pointer;
                align-items: center;
                justify-content: center;

                &:hover
                {
                    background-color: hsl(0, 0%, 20%);
                    sound-in: ui.button.over;
                    cursor: pointer;
                }

                &:active
                {
                    background-color: hsl(0, 0%, 15%);
                    sound-in: ui.button.press;
                    cursor: pointer;
                }
        }
    }
    }
}